@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">iCARE Healthcare System</h1>

        <!--Login successful message-->
        @if (TempData["LoginMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["LoginMessage"]
            </div>
        }

        @if (TempData["LogoutMessage"] != null)
        {
            <div class= "alert alert-success">
                @TempData["LogoutMessage"]
            </div>
        }

        <p class="lead">Welcome to the iCARE healthcare system!</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                This is a healthcare system used by doctors nurses, and admins. 
                The goal of the system is to allow workers to see their active patients and patient data.
                This is a system created by Group4.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
    </div>

    <button type="button" onclick="location.href='@Url.Action("Index", "ManageAccounts")'">Manage Accounts for Admin</button>
</main>