@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<h1 style="text-align:center">Palette</h1>
<hr />

<p style="text-align:center">
    <button type="button" style="margin:150px 45px; padding:3% 3%; font-size:20px" onclick="location.href='@Url.Action("ChooseDoc", "DisplayPalette")'">Create New Document</button> <!--Needs to lead to new page where you can choose type of document to be created-->
    <button type="button" style="margin: 150px 45px; padding: 3% 3%; font-size: 20px" onclick="location.href='@Url.Action("DocList", "DisplayPalette")'">View Documents</button>
</p>
<br />
<p>
    <button type="button" style="padding:20px 20px" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
</p>