@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

@{
    ViewBag.Title = "Index";
}

<h2>Palette</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("ChooseDoc", "DisplayPalette")'">Create New Document</button> <!--Needs to lead to new page where you can choose type of document to be created-->
</p>

<p>
    <button type="button" onclick="location.href='@Url.Action("Details", "DisplayPalette")'">View Documents</button>

</p>

<!-- <p>
    <button type="button" onclick="location.href='@Url.Action("Create", "ImportImage")'">Import Image</button> 

</p> -->

