@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

@{
    ViewBag.Title = "Index";
}

<h2>Palette</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create", "ManageDocument")'">Create New Document</button> <!--Needs to lead to new page where you can choose type of document to be created-->
    <button type="button" onclick="location.href='@Url.Action("Details", "DisplayPalette")'">View Documents</button>
    <button type="button" onclick="location.href='@Url.Action("Create", "ImportImage")'">Import Image</button> <!--Move this button to after you click create new document, one of the options of type of doc to be created-->
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
</p>