@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

@{
    ViewBag.Title = "Index";
}

<h2>Palette</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create", "DisplayPalette")'">Create New Document</button>
</p>

<p>
    <button type="button" onclick="location.href='@Url.Action("Details", "DisplayPalette")'">View Documents</button>

</p>

