@model IEnumerable<Group4_iCAREAPP.Models.PatientRecord>

@{
    ViewBag.Title = "iCARE Board";
}

<h2>iCARE Board</h2>

<!-- Geographical Unit Filter Dropdown -->
<label for="geographicalUnit">Sort by Geographical Unit:</label>
@Html.DropDownList("geographicalUnit", (SelectList)ViewBag.GeographicalUnitList, "Select All", new { @class = "form-control", id = "geographicalUnitDropdown" })

<div id="patientListContainer">
    @Html.Partial("_PatientList", Model)
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#geographicalUnitDropdown').change(function () {
                var geographicalUnit = $(this).val();
                $.ajax({
                    url: '@Url.Action("FilterByGeographicalUnit", "iCAREBoard")',
                    data: { geographicalUnit: geographicalUnit },
                    type: 'GET',
                    success: function (result) {
                        $('#patientListContainer').html(result);
                    }
                });
            });
        });
    </script>
}

