/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Apply hover effect to all buttons, input buttons, and links styled as buttons */
button,
.btn,
input[type="button"],
input[type="submit"],
a.button,
a.btn {
    font-size: 22px;
    transition: background-color 0.3s ease;
}


button {
    background-color: cornflowerblue;
    color: floralwhite;
    border: none;
    padding: 15px 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; /* Pointer cursor */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition effect */
}


button:hover,
.btn:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
a.button:hover,
a.btn:hover {
    background-color: pink; /* Change to pink on hover */
    color: white; /* Optional for better contrast */
}
